<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ovidius_v1">

<!-- Ovidius Serial Metamorphic Manipulator - Example ONLY! -->

<link name="PseudoConnector1a">
      <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value ="${pseudo_mass_static}" />
        <inertia ixx="3.5655174315e-07" ixy="3.0094534019e-15" ixz="-3.0659548585e-16" iyy="8.1971725028e-7" iyz="1.0236492333e-16" izz="5.0684999189e-07"/>
      </inertial>
      <visual>
      <origin rpy="1.5708 0 0" xyz="-0.0375 0.2 -0.05"/>
      <geometry>
        <mesh filename="/home/nikos/PhD/projects/Dynamics_SMM/Pseudos/pjoint1_static.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver">
        <color rgba="0.753 0.753 0.753 0.5"/>
      </material>
    </visual>
</link>

  <!-- This is the pseudojoint1 joint angle congiguration -->
   <!-- 0ref = 3.14 radians y-axis-->
  <joint name="PseudoConnector1a__PseudoConnector1b" type="fixed">
    <origin rpy="${final_theta_p_1} 0 0" xyz="0 0.025 0.118"/>
    <parent link="PseudoConnector1a"/>
    <child link="PseudoConnector1b"/>
  </joint>

<link name="PseudoConnector1b">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value ="${pseudo_mass_moving}" />
      <inertia ixx="1.345843e-07" ixy="1.399547e-14" ixz="-2.461662e-15" iyy="1.577317e-7" iyz="2.024057e-13" izz="1.101806e-7"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="-0.061 -0.167 -0.177"/>
      <geometry>
        <mesh filename="/home/nikos/PhD/projects/Dynamics_SMM/Pseudos/pjoint1_moveable.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="lime">
        <color rgba="1 1 0 1"/>
      </material>
    </visual>
</link>
